.layout {
    min-height: 100vh;
    background-color: #141414;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding-top: 70px;
    /* Navbar height */
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}